/*我的*/
.user-bg{
    height: 267.5px;
    position: relative;
    background: url("../../img/index-bg.png");
    background-size: cover;
    background-position: center;
}
.user-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.border{
    border: 2px solid #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}
.user-head{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #eee;
    background-size: cover !important;
    background-position: center !important;
}
.user-name{
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}
.user-credit{
    margin-top: 5px;
    text-align: center;
}
.user-credit i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../../img/1.png');
    background-size: cover;
}
.user-credit span{
    margin-left: 3px;
    font-size: 14px;
    color: #fff;
    position: relative;
    top: -2px;
}
.user-phone{
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
}
.state-bar{
    padding: 15px;
    position: absolute;
    top: 220px;
    width: 100%;
    box-sizing: border-box;
}
.row{
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}
.item{
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}
.item i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #999999;
    background-size: cover !important;
    position: relative;
    top: 2px;
}
.item .hint{
    font-size: 16px;
    position: relative;
    top: -4px;
    margin-left: 5px;
}
.item .money{
    font-size: 14px;
    position: relative;
    top: -4px;
    margin-left: 10px;
}
.item:nth-child(1){
    border-right: 1px solid #eee;
}
.item:nth-child(1) i{
    background: url("../../img/3.png");
}
.item:nth-child(2) i{
    background: url("../../img/2.png");
}

.menu-bar{
    padding: 15px;
    margin-top: 25px;
}
.menu-row{
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}
.menu-item{
    float: left;
    width: 33.33%;
    text-align: center;
    box-sizing: border-box;
}
.menu-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover !important;
    background-position: center !important;
}
.menu-name{
    font-size: 14px;
    margin-top: 5px;
}
.menu-row div:nth-child(1) .menu-icon {
    background: url("../../img/21.png");
}
.menu-row div:nth-child(2) .menu-icon {
    background: url("../../img/17.png");
}
.menu-row div:nth-child(3) .menu-icon {
    background: url("../../img/19.png");
}
.menu-row div:nth-child(4) .menu-icon {
    background: url("../../img/20.png");
    margin-top: 30px;
}
.menu-row div:nth-child(5) .menu-icon {
    background: url("../../img/18.png");
    margin-top: 30px;
}
.menu-row div:nth-child(6) .menu-icon {
    background: url("../../img/22.png");
    margin-top: 30px;
    height: 51px;
}


/*iphone5*/
@media screen and (max-width:320px) {
}

